.heading {
    font-size: 23px;
    box-shadow: 5px 5px 5px gray;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
    color: white;
    bottom: 0;
}

canvas {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}